<div class="bucket-container">
  <div class="bucket-content">
    <div class="bucket-header">
      <h4>Complete the order</h4>
    </div>
    <div
      class="bucket-body"
      *ngIf="(selectPizzasInBucket$ | async)?.length; else noPizzasAdded"
    >
      <table class="table table-strip">
        <thead>
          <tr>
            <th>Name</th>
            <th class="center-text">Qty</th>
            <th class="center-text">Price</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pizza of selectPizzasInBucket$ | async">
            <td>{{ getPizzaNameById(pizza.pizzaId) | async }}</td>
            <td class="center-text">{{ pizza.count }}</td>
            <td class="center-text">
              {{ getPizzaPriceSum(pizza.pizzaId) | async }}
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td>Sum</td>
            <td class="center-text">{{ getBucketPizzasCount$ | async }}</td>
            <td class="center-text">{{ getBucketPizzasSum$ | async }}</td>
          </tr>
        </tfoot>
      </table>
    </div>
    <div class="bucket-footer">
      <button
        class="btn btn-danger"
        [routerLink]="'/pizzas-list'"
        (click)="clearBucket()"
      >
        {{
          (selectPizzasInBucket$ | async)?.length
            ? "Clear"
            : "Back to pizzas list"
        }}
      </button>
      <button
        class="btn btn-success"
        *ngIf="(selectPizzasInBucket$ | async)?.length"
      >
        Submit
      </button>
    </div>
  </div>
</div>

<ng-template #noPizzasAdded>
  <div class="bucket-body empty-bucket">No pizza added</div>
</ng-template>
