<div class="box-wrapper">
  <div class="name-container">
    <div class="pizza-name">
      {{ pizza?.name }}
    </div>
      <app-pizza-badge [types]="pizza?.types"></app-pizza-badge>
  </div>
  <div>
    <span *ngFor="let component of pizza?.components; let last = last; trackBy: trackByFn">
      {{ component }}{{ last ? "" : "," }}
    </span>
  </div>
  <div class="price-container">
    {{ pizza?.price }}
    {{ pizza?.currency }}
  </div>
  <div class="date-container">
    {{ pizza?.availableFrom }}
  </div>
</div>
