.select-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 60px;
  width: 60vw;
  margin: 0 auto;
}
.filter-type-count {
  background-color: aquamarine;
  border-radius: 50%;
  font-size: 8px;
}
