.filters-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 60vw;
  margin: 0 auto;
  padding: 10px 0 0;
}
.filter-container {
  flex-grow: 1;
}
.filter-type-count {
  background-color: aquamarine;
  border-radius: 50%;
  font-size: 8px;
}

.sticky-container {
  position: sticky;
  top: 0;
  background-color: #fff;
  width: 100%;
  margin-bottom: 10px;
  height: 100px;
  border-bottom: 3px dotted #bbb;
  z-index: 3;
}

.sorting-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 60vw;
  margin: 0 auto;
  padding: 10px 0 0;
}
.rotate-down {
  transform: rotate(180deg);
}

.collapse-icon {
  position: absolute;
  color: #d8d8d8;
}
.icons-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 12px;
  width: 10px;
  font-size: 12px;
  margin-left: 5px;
  font-weight: bold;
}
.sorting-property {
  display: flex;
  margin-right: 10px;
  cursor: pointer;
}
.active-icon {
  color: #000;
}
