<app-pizza-bucket></app-pizza-bucket>
<app-pizza-filter></app-pizza-filter>
<div class="pizza-list-wrapper">
  <app-pizza-item
    *ngFor="let pizza of pizzas$ | async; trackBy: pizzaTrackByFn"
    [pizza]="pizza"
  ></app-pizza-item>
</div>
<!-- <div id="accordion" class="accordion">
  <div
    class="accordion-item"
    *ngFor="
      let pizza of pizzas$ | async;
      let i = index;
      trackBy: pizzaTrackByFn
    "
  >
    <h2 class="accordion-header" [id]="'heading' + i">
      <button
        class="accordion-button"
        type="button"
        data-bs-toggle="collapse"
        [attr.data-bs-target]="'#collapse' + i"
        [attr.aria-expanded]="i === 0 ? 'true' : 'false'"
        [attr.aria-controls]="'collapse' + i"
      >
        <div class="box-wrapper">
          <div class="pizza-container">
            <div class="name-container">
              <div class="pizza-name">
                {{ pizza?.name }}
              </div>
              <app-pizza-badge [types]="pizza?.types"></app-pizza-badge>
            </div>
            <div>
              <span
                *ngFor="
                  let component of pizza?.components;
                  let last = last;
                  trackBy: trackByFn
                "
              >
                {{ component }}{{ last ? "" : "," }}
              </span>
            </div>
            <div class="price-container">
              {{ pizza?.price }}
              {{ pizza?.currency }}
            </div>
            <div class="date-container">
              {{ pizza?.availableFrom }}
            </div>
          </div>
        </div>
      </button>
    </h2>
    <div
      [id]="'collapse' + i"
      class="accordion-collapse collapse"
      [attr.aria-labelledby]="'heading' + i"
      data-parent="#accordion"
    >
      <div class="accordion-body details-body">
        <div class="details-container">
          <img [src]="pizza.pic" width="200" height="200" [alt]="pizza.name" />
          {{ pizza.description }}
        </div>
      </div>
    </div>
  </div>
</div> -->
