.header-container {
  background-color: #6f6fc3;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: sans-serif, Cambria;
  cursor: pointer;
}
.header-title {
  flex-grow: 1;
  display: flex;
  justify-content: start;
}
.pages-container {
  margin-right: 40px;
  display: flex;
  gap: 20px;
}
